<div>
    <h1>Я программирую на разных языках и занимаюсь DevOps.</h1>
    <div id="expertise">
        <section>
            <h2 class="subhead">
                <svg class="icon pos"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-circle"></use></svg>
                Я CTO.
            </h2>
            <p>Делаю упор на автоматизацию тестирования (по всем слоям пирамиды Майкла Коэна) и релизного цикла. IaC в инфраструктуре с максимальным количеством метрик и мониторинга. В разработке продвигаю микросервисную Clean архитектуру в контейнерной среде.</p>
        </section>
        <section>
            <h2 class="subhead">
                <svg class="icon pos"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-circle"></use></svg>
                Я backend разработчик на NodeJS.
            </h2>
            <p>Я пишу интеграционные службы для внутреннего использования. Высокая производительность? Да.</p>
        </section>
        <section>
            <h2 class="subhead">
                <svg class="icon pos"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-circle"></use></svg>
                Я знаю и другие скриптовые языки.
            </h2>
            <p>Приходилось довольно много писать на Ruby и Python.</p>
        </section>
        <section>
            <h2 class="subhead">
                <svg class="icon pos"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-circle"></use></svg>
                Я знаю языки со строгой типизацией.
            </h2>
            <p>Успел поработать не один год на TypeScript, Go, C#, C++.</p>
        </section>
        <section>
            <h2 class="subhead">
                <svg class="icon pos"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-circle"></use></svg>
                Я решаю различные интеграционные задачи.
            </h2>
            <p>Дописать небольшой модуль к существующий системе на JS, Python, Ruby, Go, C#, &ltвставьте необходимое&gt? Это мой конёк. Дайте мне неделю.</p>
        </section>
        <section>
            <h2 class="subhead">
                <svg class="icon pos"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-circle"></use></svg>
                Я DevOps инженер.
            </h2>
            <p>Внедрить CI/CD k8s, настроить Prometheus и ELK, описать IaC в Terraform и чуть-чуть допилить с помощью ansible? Обращайтесь.</p>
        </section>
        <section>
            <h2 class="subhead">
                <svg class="icon caution"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-warning"></use></svg>
                Могу разрабатывать фронт на React.
            </h2>
            <p>Действительно могу, если очень надо.</p>
        </section>
        <section>
            <h2 class="subhead">
                <svg class="icon caution"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-warning"></use></svg>
                Могу выполнять задачи системного администрирования.
            </h2>
            <p>DevOps? Да. Работать 24/7? Нет.</p>
        </section>
        <section>
            <h2 class="subhead">
                <svg class="icon neg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cancel-circle"></use></svg>
                Я не системный аналитик и не PM.
            </h2>
            <p>Пробовал. Не понравилось.</p>
        </section>
    </div>
</div>
