<div id="use">
    <h1>Коротко об инструментах разработки.</h1>
    <section>
        Итак, пройдёмся по списку:
        <br>
        <br>
        <ul>
            <li><strong>IDE:</strong> VSCode - самый комфортный инструмент для связки NodeJS + CSS + HTML.</li>
            <li><strong>VCS:</strong> Git, MS TFS, Mercurial - сейчас конечно же Git, но бывали и другие времена.</li>
            <li><strong>DB:</strong> MongoDB, Redis, RabbitMQ, MS SQL Server - последнее время всё больше NoSQL.</li>
            <li><strong>SCM:</strong> Ansible - ИМХО самый комфортный инструмент.</li>
            <li><strong>VCS:</strong> Git, MS TFS, Mercurial - сейчас конечно же Git, но бывали и другие времена.</li>
            <li><strong>IaC:</strong> Terraform - Ну тут нет альтернатив.</li>
            <li><strong>Containers:</strong> Docker, CRI-O - В 2022 пора уходить от docker.</li>
            <li><strong>Orchestration:</strong> K8s, Swarm - К сожалению, еще есть проекты на Swarm.</li>
            <li><strong>Task tracker:</strong> Jira, MS TFS - в зависимости от проекта.</li>
            <li><strong>Monitoring:</strong> Grafana, Prometheus, Alertmanger.</li>
            <li><strong>Logs:</strong> Elasticsearch + Filebeat + Kibana - Logstash уже не нужен.</li>
            <li><strong>Docs:</strong> Swagger, Confluence - API без документации - плохой API.</li>
            <li><strong>Tools:</strong> Insomnia REST + curl для проверки Web API, Wireshark для тяжелых случаев.</li>
            <li><strong>.NET IDE:</strong> Visual Studio 2019 - вне конкуренции для разработки под .NET.</li>
            <li><strong>Other:</strong> Всё остальное в консоли.</li>
        </ul>
        <br>
        Вполне логичный набор.
    </section>
</div>
