<div id="use">
    <h1>Коротко об инструментах разработки.</h1>
    <section>
        Итак, пройдёмся по списку:
        <br>
        <br>
        <ul>
            <li><strong>NodeJS IDE:</strong> WebStorm 2018 - самый комфортный инструмент для связки NodeJS + CSS + HTML.</li>
            <li><strong>Python IDE:</strong> PyCharm 2018 - логичный выбор для пользователей WebStorm.</li>
            <li><strong>Ruby IDE:</strong> RubyMine 2018 - логичный выбор для пользователей WebStorm.</li>
            <li><strong>Go IDE:</strong> GoLand 2018 - логичный выбор для пользователей WebStorm.</li>
            <li><strong>.NET IDE:</strong> Visual Studio 2019 - вне конкуренции для разработки под .NET.</li>
            <li><strong>Delphi IDE:</strong> Rad Studio 10 - без комментариев.</li>
            <li><strong>VCS:</strong> Git, MS TFS, Mercurial - сейчас конечно же Git, но бывали и другие времена.</li>
            <li><strong>DB:</strong> MongoDB, Redis, Riak KV, Couchbase, MS SQL Server - последнее время всё больше NoSQL.</li>
            <li><strong>Autobuild:</strong> Jenkins, TravisCI, MS TFS - на работе - Jenkins, для дома - Travis CI</li>
            <li><strong>Containers:</strong> Docker - под Linux только Docker.</li>
            <li><strong>Bug tracker:</strong> Atlassian Jira, MS TFS - в зависимости от проекта.</li>
            <li><strong>Monitoring:</strong> Graphana, Zabbix.</li>
            <li><strong>Logs:</strong> Elasticsearch + Kibana - красиво, удобно, гибко.</li>
            <li><strong>Docs:</strong> Swagger, Atlassian Confluence - API без документации - плохой API.</li>
            <li><strong>Tools:</strong> Insomnia REST + curl для проверки Web API, Wireshark для тяжелых случаев.</li>
            <li><strong>Other:</strong> Всё остальное в консоли.</li>
        </ul>
        <br>
        Вполне логичный набор для разработчика.
    </section>
</div>
